.container {
  display: inline-block;
  background-color: #f5f0f6;
  min-width: 300px;
  padding: 50px;
  margin: 20px;
  text-align: center;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
}

.title {
  text-align: left;
  font-weight: 600;
}

.input-container {
  margin-top: 20px;
  text-align: left;
}

.label {
  display: block;
  text-align: left;
  color: #7c7c7c;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input:focus {
  border-color: #7cc96a;
  outline: none;
}

.submit-button {
  width: 50%;
  padding: 10px;
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

.submit-button:hover {
  background-color: #5a5a5a;
  transition: 0.3s ease;
}

.password-visibility-toggle {
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  background: white;
  border: none;
  border-radius: 20px;
}

@media (max-width: 481px) {
  .container {
    min-width: 200px;
    margin: auto;
  }
}
